<nz-layout class="app-layout">
  <nz-header class="app-header" nzCollapsible nzWidth="auto" nzBreakpoint="md">
    <!-- 1 dong app header, 1 dong app menu bar -->
    <div class="app-header-container">
      <div class="app-logo">
        <a class="text-center" routerLink="/dashboard">
          <img src="../../../assets/img/app-logo/header-logo.svg" class="logo-img" />
        </a>
      </div>
      <div class="header-info">
        <div><span>Email: info@apetechs.com</span></div>
        <div><span>Website: <a href="http://apetechs.com">http://apetechs.com</a></span></div>
        <div><span>Hotline: 0377912838</span></div>
      </div>
      <div class="notifications" nz-dropdown [nzDropdownMenu]="menuNotify" nzTrigger="click"
        [nzPlacement]="'bottomCenter'">
        <span nz-icon nzType="bell" nzTheme="fill"></span>
        <span class="notify-number" [hidden]="notificationsCount === 0">{{notificationsCount.toString}}</span>
      </div>
      <nz-dropdown-menu #menuNotify="nzDropdownMenu">
        <nz-card nzTitle="Thông báo" style="border-radius: 10px;">
          <ul style="    list-style-type: none;
          display: contents;">
            <li *ngFor="let item of dataNotify">
              {{item}}
            </li>
          </ul>
        </nz-card>
      </nz-dropdown-menu>
      <div class="setting-options setting" id="setting" nz-dropdown [nzDropdownMenu]="menuSetting">
        <span nz-icon nzType="setting" nzTheme="fill" 
        style="width: auto;
        height: fit-content;
        display: flex;"></span>
      </div>
      <nz-dropdown-menu #menuSetting="nzDropdownMenu">
        <ul nz-menu class="font-setting">
          <li nz-menu-item>
            <p>Màu nền</p>
            <button class="color-choose" (click)="setLayoutColor($event)" style="background: #a6d6d6;">
            </button>
            <button class="color-choose" (click)="setLayoutColor($event)" style="background: #e6d5aa;">
            </button>
            <button class="color-choose" (click)="setLayoutColor($event)" style="background: #dfb2f2;">
            </button>
          </li>
          <li nz-submenu nzTitle="Phông chữ" style="justify-content: left;">
            <ul>
              <li nz-menu-item (click)="setAppFontFamily($event)">Arial</li>
              <li nz-menu-item (click)="setAppFontFamily($event)">Calibri</li>
              <li nz-menu-item (click)="setAppFontFamily($event)">Geneva</li>
              <li nz-menu-item (click)="setAppFontFamily($event)">Optima</li>
              <li nz-menu-item (click)="setAppFontFamily($event)">Avanta Garde</li>
              <li nz-menu-item (click)="setAppFontFamily($event)">Inter</li>
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>
      <div class="account-setting" nz-dropdown [nzDropdownMenu]="menuAccount" nzTrigger="click">
        <img id="user-avatar" 
        style="
        width: 32px;
        margin: 4px;" />
        <span style="padding: 0px 10px 0px 0px;">
          {{currentUserName}}
        </span>
      </div>
      <nz-dropdown-menu #menuAccount="nzDropdownMenu" nzTrigger="click">
        <ul nz-menu style="border-radius: 10px; width: max-content">
          <li nz-menu-item (click)="editAccount(currentUser)" style="margin: 10px">
            <span nz-icon nzType="user" nzTheme="outline"></span>
            Chỉnh sửa tài khoản
          </li>
          <li nz-menu-item (click)="logout()" style="margin: 10px">
            <span nz-icon nzType="logout" nzTheme="outline"></span>
            Đổi người dùng
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>

    <div class="app-navbar-container">
      <ul nz-menu [nzMode]="'horizontal'" class="app-navbar" [nzSelectable]="false">
        <li nz-submenu nzClose nzTitle="Báo Cáo">
          <ul style="background-color: #f3f3f3;">
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/setting/status']">Tình Trạng Phòng</a>
            </li>
            <li nz-submenu nzClose nzTitle="Doanh Thu">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="['/welcome/revenue-by-apartment']">Hiện Tại</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="['/welcome/summary-revenue-apartment']">Lịch Sử</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="['/welcome/revenue-detail']">Chi Tiết</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="['/welcome/revenue-real']">Thực thu</a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzClose nzTitle="Chi Phí">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="['/welcome/cost-apartment']">Khu Trọ</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="['/welcome/cost-department']">Văn Phòng</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a [routerLink]="['/welcome/cost-detail']">Chi Tiết</a>
                </li>
              </ul>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/welcome/profit-apartment-in-month']">Lợi Nhuận</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/welcome/cash-flow-analysis']">Dòng Tiền</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/welcome/deposit-report']">Cọc</a>
            </li>
          </ul>
        </li>

        <li nz-submenu nzClose nzTitle="Quản Lý Khu" target="_blank">
          <ul style="background-color: #f3f3f3; padding: 0px">
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/setting/apartment']">Khu Trọ</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/setting/room']">Phòng Trọ</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/sales/room']">Bán Phòng</a>
            </li>
          </ul>
        </li>

        <li nz-submenu nzClose nzTitle="Quản Lý Tài Chính">
          <ul style="background-color: #f3f3f3;">
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/finance/payslip-tab']">Phiếu Chi</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/finance/receipt']">Phiếu Thu</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/manager/bill']">Hóa Đơn</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/finance/debt']">Công Nợ</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/setting/cash-manager']">Dòng Tiền</a>
            </li>
          </ul>
        </li>

        <li nz-submenu nzClose nzTitle="Thiết Lập">
          <ul style="background-color: #f3f3f3;">
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/setting/department']">Phòng Ban</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/setting/employee']">Nhân Viên</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/setting/permission']">Phân Quyền</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a [routerLink]="['/setting/setting-string']">Cấu Hình Động</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nz-header>
  <nz-content>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <footer style="
    position: absolute;
    width: 100vw;
    height: 40px;
    bottom: 0;
    background: #f3f3f3;">
    <div class="app-footer">
      <span nzTheme="outline" 
      style="    
          height: 16px;
          margin-right: 12px;
          position: inherit;
          right: 6px;
          bottom: 6px;
          line-height: 12px;">
          <b style="font-size: 20px; font-weight: 300;">©</b>Bản quyền thuộc về công ty cổ phần APETECHS</span>
    </div>
  </footer>
</nz-layout>