@import "/src/styles.scss";

:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-content {
  overflow: visible;
  height: fit-content;
  background: #ffffff;
  padding-top: 20px;
  margin: 0px 10px;
}

.app-header {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 86px;
  background: $appBackground;
}

.app-header-container {
  display: flex;
  height: 60%;
}

.app-layout {
  width: 100vw;
  display: block;
  height: max-content;
}

.app-logo {
  width: 160px;
  height: auto;
  padding-left: 1%;
  left: 0px;
  border-radius: 32px;
  overflow: hidden;
  position: relative;
}

nz-header {
  padding: 0;
}

nz-content {
  background-color: #fcfcfc;
  padding-bottom: 50px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.ant-list {
  line-height: 0 !important;
}

.notify {
  button {
    border: none;
  }
}

nz-input-group {
  background-color: #555;
  border: none;
  width: 100%;
  top: 0.5rem;
  left: 3vw;
  height: 70%;
  padding-left: 1rem;
  display: flex;
}

input[type="text"] {
  background-color: #555;
  border: none;
  width: 90%;
  height: 100%;
  /* margin-left: 0%; */
  /* font-size: 16px; */
  color: $appColor;
}

.notifications { 
  width: max-content;
  height: max-content;
  display: flex;
  margin-left: 21%;
  margin-top: 12px;
}

.notifications:hover {
  cursor: pointer;
}

.notify-number {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: $appColor;
  background: #ff0000;
}

.setting-options {
  width: auto;
  height: fit-content;
  margin-left: 42px;
  margin-top: 12px;
  display: flex;
}

.setting-options-icon {  
  width: 28px;
  height: 28px;
  display: flex;
  margin: auto;
}

.setting-options-icon:hover {
  cursor: pointer;
  transform: rotate(-45deg);
}

.setting-menu {
  width: 255px;
  z-index: 1;
  position: absolute;
  color: $appColor;
  background: $appBackground;
  right: 15%;
  top: 44px;
  height: fit-content;
}

.user-avatar {
  position: absolute;
  right: 71%;
  top: 8px;
  font-size: 16px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.account-setting {
  width: max-content;
  height: 40px;
  margin-left: 42px;
  margin-top: 4px;
  border-radius: 8px;
  background-color: #E3E3E3;
  line-height: normal;
}

.user-options {
  position: absolute;
  background: #000000;
  color: $appColor;
  width: 212px;
  right: 0px;
  top: 44px;
  z-index: 1;
}

.app-navbar {
  background: $appBackground;
  color: $appColor;
  text-align: center;
}

.app-navbar-container {
  display: flex;
  height: 40%;
  line-height: 44px;
  background-color: transparent;
}

.color-choose {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: none;
}

#user-avatar {
  border-radius: 50%;
  background: $appBackground;
}

.logo-animate-wrapper {
  width: 174px;
  height: 100px;
  position: absolute;
  top: -24px;
  left: 5%;
  overflow: hidden;
  border-radius: 39%;
}

ul.app-navbar > li {
  width: max-content;
  margin: 0 42px;
}

ul.app-navbar {
  width: 100%;
  margin: auto;
  display: flex;
  height: 100%;
  background-color: #ffffff;
}

ul.font-setting > li {
  width: 180px;
  height: auto;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

ul.font-setting {
  border-radius: 10px;
}

::ng-deep.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  margin-top: 0px!important;
  margin-bottom: -4px;
}

::ng-deep.ant-menu-horizontal:hover {
  display: none;
}

.app-footer {    
  width: 100%;
  height: fit-content;
  position: inherit;
  bottom: 0px;
  background: $appBackground;
  color: $appColor;
  display: flex;
  justify-content: end;
}

::ng-deep.anticon svg[data-icon="bell"] {
  margin: auto;
  height: 28px;
  width: 28px;
  color: #c2c2c2;
}

::ng-deep.anticon svg[data-icon="setting"] {
  margin: auto;
  height: 28px;
  width: 28px;
  color: #c2c2c2;
}

::-webkit-scrollbar-track {
  background-color: #fcfcfc;
}

.header-logo, .header-logo > img {
  display: flex;
  position: absolute;
  padding: 10px 20px;
}

::ng-deep.ant-menu-horizontal {
  border: none; 
}

.logo-img {
  position: relative; 
  left:16px;
  width: 56px;
  margin-top: -16px;
}

.header-info {
  display: flex;
  justify-content: space-between;
  width: 50%;
  line-height: 42px;
}

::ng-deep.ant-menu-horizontal:not(.ant-menu-dark) > ::ng-deep.ant-menu-submenu-selected {
  color: #FBAE17;
  background-color: #000000;
  border-radius: 12px;
  font-weight: 800;
}

::ng-deep.ant-menu-horizontal:not(.ant-menu-dark) > ::ng-deep.ant-menu-submenu-selected::after {
  border-bottom: none;
}

::ng-deep.ant-menu-submenu-title {
  display: flex;
}

ul.app-navbar ::ng-deep.ant-menu-submenu-title > span {
  margin: auto;
  margin-top: -5px;
}