<div class="mt-2 text-center">
  <span class="fs-18 fw-500 text-primary">{{ modelTitle }}</span>
  <br />
</div>
<form nz-form class="ant-advanced-search-form mt-3" #frmAdd="ngForm">
  <div nz-row [nzGutter]="6">
    <div nz-col [nzSpan]="24">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Mật khẩu hiện tại</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" [(ngModel)]="dataObject.currentPassword" name="currentPassword"
            placeholder="Nhập mật khẩu hiện tại" required />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="24">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Mật khẩu mới</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" [(ngModel)]="dataObject.newPassword" name="newPassword"
            placeholder="Nhập mật khẩu mới" required />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="24">
      <nz-form-item nzFlex>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Nhập lại mật khẩu mới</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" [(ngModel)]="dataObject.confirmNewPassword" name="confirmNewPassword"
            placeholder="Nhập lại mật khẩu mới" required />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="text-center">
      <button nz-button [disabled]="!frmAdd.form.valid" nzType="primary" class="mr-3" (click)="onSave()"
        nzShape="round">
        <i nz-icon nzType="save" nzTheme="outline"></i> Lưu
      </button>
    </div>
  </div>
</form>