.form-panel {
  display: block;
  margin: auto;
  margin-top: 20vh;
}

.login_input {
  max-width: 369px;;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px 36px;
  line-height: 32px;
}

.login_title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  margin: 10px 88px
}

.login_button {
  margin: 10px 36px;
  width: 369px;
  height: 36px;
  border-radius: 20px;
}

.register {
  margin: 10px 33.7vw;
  width: 440px;
  height: 42px;
  text-align: center;
  padding: 10px 32px
}

.form-panel {
  border: 0.5px solid #c1c1c1;
  max-width: 440px;
}