<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
  </head>

  <body>
      <div class="form-panel" style="z-index: 1" nz-col nzSpan="12">
        <h1 class="login_title">Petstagram</h1>
        <form
          nz-form
          [formGroup]="loginForm"
          #frmAdd="ngForm"
          class="login_form"
          (keyup.enter)="onSubmit()"
        >
          <nz-form-item class="login_item" data-validate="Tài khoản">
            <nz-form-control
              nzErrorTip="Vui lòng nhập tài khoản"
            ></nz-form-control>
            <nz-input-group class="frame_40034">
              <input
                type="text"
                nz-input
                [nzBorderless]="true"
                formControlName="username"
                name="username"
                placeholder="Nhập tài khoản"
                class="login_input"
                [ngClass]="{ 'is-invalid': submitted && f?.username?.errors }"
                autocomplete="off"
                required
                minlength="4"
              />
            </nz-input-group>
          </nz-form-item>
          <nz-form-item class="login_item" data-validate="Mật khẩu">
            <nz-form-control
              nzErrorTip="Vui lòng nhập mật khẩu"
            ></nz-form-control>
            <nz-input-group class="frame_40035">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                [nzBorderless]="true"
                formControlName="password"
                name="password"
                autocomplete="off"
                placeholder="Nhập mật khẩu"
                class="login_input"
                [ngClass]="{ 'is-invalid': submitted && f?.password?.errors }"
                required
                minlength="4"
              />
            </nz-input-group>
          </nz-form-item>
          <button
            [disabled]="!frmAdd.form.valid"
            (click)="onSubmit()"
            nz-button
            [nzType]="'primary'"
            class="login_button"
          >
            <span class="login_button_name"> Đăng nhập</span>
          </button>
        </form>
        <nz-divider nzText="HOẶC"></nz-divider>
        <div style="margin: 10px 36px; text-align: center;">
          <a>Quên mật khẩu?</a>
        </div>
      </div>
      <div class="register" style="border: 0.5px solid #c1c1c1">
        <p>bạn chưa có tài khoản ư? <a href="">đăng ký</a></p>
      </div>
  </body>
</html>
